In [1]:
import pandas as pd
column_list = ["Breathing Problem","Fever","Dry Cough","Sore throat","Running Nose","Headache","Contact with COVID Patient","COVID-19"]
dataset = pd.read_csv('./Covid_Dataset.csv',usecols=column_list)
dataset.head()

,Breathing Problem,Fever,Dry Cough,Sore throat,Running Nose,Headache,Contact with COVID Patient,COVID-19
0,1,1,1,1,1,0,1,1
1,1,1,1,1,0,1,0,1
2,1,1,1,1,1,1,0,1
3,1,1,1,0,0,0,0,1
4,1,1,1,1,1,1,1,1

In [2]:
import numpy as np
def split_data(dataset):
    new_data_array = np.random.permutation(len(dataset))
    test_data_index = new_data_array[:int(len(dataset)*0.2)]
    train_data_index = new_data_array[int(len(dataset)*0.2):]
    return dataset.iloc[train_data_index], dataset.iloc[test_data_index]

In [3]:
train_data, test_data = split_data(dataset)

In [4]:
train_data

,Breathing Problem,Fever,Dry Cough,Sore throat,Running Nose,Headache,Contact with COVID Patient,COVID-19
1258,1,1,1,1,1,0,1,1
3939,1,0,1,1,0,1,1,1
2453,0,1,1,1,1,0,1,1
1702,1,1,1,1,1,0,1,1
2361,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...
3205,1,1,0,1,0,0,0,1
5092,0,1,0,0,0,1,1,0
4549,0,1,1,0,0,1,0,0
2995,1,1,0,1,0,1,0,1
1432,1,1,1,1,0,0,1,1

In [5]:
test_data

,Breathing Problem,Fever,Dry Cough,Sore throat,Running Nose,Headache,Contact with COVID Patient,COVID-19
4461,0,0,1,0,0,0,0,0
5189,0,1,0,1,1,0,1,1
5138,1,1,0,1,0,1,1,1
2098,0,1,1,1,1,0,0,1
3747,0,1,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...
161,1,1,1,1,0,1,1,1
4388,0,1,0,1,1,0,0,0
339,1,1,1,1,0,1,0,1
2942,1,1,0,1,0,1,1,1
3297,1,1,1,0,1,1,0,1

In [6]:
X_train = train_data[['Breathing Problem','Fever', 'Dry Cough', 'Sore throat', 'Running Nose','Headache','Contact with COVID Patient']].to_numpy()
X_test = test_data[['Breathing Problem','Fever', 'Dry Cough', 'Sore throat', 'Running Nose','Headache','Contact with COVID Patient']].to_numpy()
Y_train = train_data[['COVID-19']].to_numpy().ravel()
Y_test = test_data[['COVID-19']].to_numpy().ravel()

In [8]:
from sklearn.linear_model import LogisticRegression
import pickle
clf = LogisticRegression()
clf.fit(X_train, Y_train)
pickle.dump(clf, open("model.pkl", 'wb'))

In [10]:
inputFeatures = [1, 0, 0, 0, 1, 0, 1]
loaded_model = pickle.load(open("model.pkl", 'rb'))
result =loaded_model.predict([inputFeatures])[0]
if(result):
    print("Positive")
else:
    print("Negative")

Negative

In [11]:
acc = loaded_model.score(X_test, Y_test) 
print('Accuracy of the model: ', acc*100, ' %')

Accuracy of the model:  92.81767955801105  %